@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #398c2b;
    --color-section1-4: #ffffff;
    --color-section2: #bbdc00;
    --color-section3: #d0dce0;
    --font-size1: 14px;
    --font-size2: 13px;
    --font-size3: 10px;
}

/* HEADER SECTION */
nav a {
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size2);
    font-weight: bold;
}

nav a:hover {
    color: var(--color-section2);
}

header {
    width: 100%;
    height: 20vh;
    /* background-color: rgb(90, 79, 79); */
    display: flex;
    justify-content: center;
    position: relative;

}

header::after {
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-image: url("images/ripped-header.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 1;

}

nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-logo {
    width: 25%;

}

nav .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .header-content1 {
    width: 45%;
}

nav .header-content2 {
    width: 22%;

}

/* COLOURED NAV BUTTONS */
.touch-btn {
    padding: 1em;
    color: white;
    border-radius: 15px;
    font-size: var(--font-size2);
    font-weight: bold;
}

.health-btn {
    background-color: var(--color-primary);
}

.health-btn:hover {
    color: black;
}

.support-btn {
    background-color: var(--color-section2);
}

.support-btn:hover {
    background-color: var(--color-primary);
    color: black;
}



/* DROPDOWN STYLING */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px #ddd;
    z-index: 1;
    font-size: var(--font-size3);
    font-weight: bold;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: var(--color-section2);
}

/* STYLING ACTIVE BUTTON IN NAVBAR */
/* Style the buttons */
.nav-btn {}

/* Style the active class (and buttons on mouse-over) */
.active,
.nav-btn:hover {
    /* background-color: var(--color-section2); */
    color: var(--color-section2);
    border-bottom: 2px solid var(--color-primary);
}

/* CAROUSEL STYLING */
.carousel-inner .img-carousel{
    animation: scaleUp 1.5s 0.5s ease-in-out;
    transform: scale(1.1);
    animation: name duration timing-function delay iteration-count direction fill-mode;
    
}
@keyframes scaleUp {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.carousel .carousel-div{
    position: relative;
}
.carousel .carousel-div .info-carousel{
    background-color: rgba(17, 15, 15, 0.4);
    width: 60%;
    /* border: 1px solid black; */
    position: absolute;
    left: 7%;
    top: 30%;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 30px; */
    padding: 10px;
    animation: carouselText 1s ease-in-out;

}
@keyframes carouselText {
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(0%);
    }
}
.carousel .carousel-div .info-carousel h5{
    font-size: 20px;
}
.carousel .carousel-div .info-carousel span{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.carousel .carousel-div .info-carousel a{
    width: 25%;
    text-decoration: none;
    padding: 1em;
    background-color: var(--color-primary);
    color: var(--color-section1-4);
    text-align: center;
    margin-top: 10px;
}